<div id="bancosApp" v-cloak>
	<div class="table-wrapper">
	  <div class="table-title">
	      <div class="row">
	          <div class="col-sm-6">
	            <h2>Gerenciar <b>Bancos</b></h2>
	          </div>
	      		<div class="col-sm-6">
	      			<a href="#formBancoModal" class="btn btn-success" data-toggle="modal" @click="mountCreateForm()"><i class="material-icons">&#xE147;</i> <span>Adiciona novo banco</span></a>
	      			<a href="#deleteBancoModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Apagar</span></a>	
	      			<a class="btn btn-warning" @click="createPDF()"><i class="material-icons">&#xE873;</i> <span>PDF</span></a>
	      		</div>
	      </div>
	  </div>
	  <div class="search-wrapper">
		  <div class="form-row align-items-center">
		    <div class="col-md-4">
		      <label class="sr-only" for="inlineFormInput"></label>
		      <div class="input-group mb-2">
		        <div class="input-group-prepend">
		          <div class="input-group-text">Código</div>
		        </div>
		        <input type="text" class="form-control" id="inlineFormInputGroupCodigo" v-model="FiltroCodigo">
		      </div>
		    </div>
		    <div class="col-md-8">
		      <label class="sr-only" for="inlineFormInputGroup"></label>
		      <div class="input-group mb-2">
		        <div class="input-group-prepend">
		          <div class="input-group-text">Descrição</div>
		        </div>
		        <input type="text" class="form-control" id="inlineFormInputGroup" v-model="FiltroDescricao">
		      </div>
		    </div>
		  </div>
		</div>
	  <table class="table table-striped table-hover">
	    <thead>
	        <tr>
				<th>
					<span class="custom-checkbox">
						<input type="checkbox" id="selectAll" v-model="allSelected" @click="selectAll">
						<label for="selectAll"></label>
					</span>
				</th>
					<th>Código do Banco</th>
	        <th>Descrição</th>
	        <th>Ações</th>
	      </tr>
	    </thead>
	    <tbody>
	        <tr v-for="(banco, index) in BancosFiltro">
	    			<td>
	    				<span class="custom-checkbox">
	    					<input type="checkbox" :id="'checkbox'+banco.id" value="1" v-model="bancos[index].selected" @click="select">
	    					<label :for="'checkbox'+banco.id"></label>
	    				</span>
	    			</td>
	    			<td>{{ banco.codigo }}</td>
	          <td>{{ banco.descricao }}</td>
	          <td>
	            <a href="#deleteBancoModal" data-toggle="modal" class="edit" @click="mountEditForm(banco)"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
	            <a href="#deleteBancoModal" data-toggle="modal" class="delete" @click="mountDeleteForm(banco)"><i class="material-icons" data-toggle="tooltip" title="Apagar">&#xE872;</i></a>
	          </td>
	        </tr>
	    </tbody>
	  </table>
		<div class="text-center" v-if="loading">
			<div class="spinner-border" role="status">
				<span class="sr-only">Carregando...</span>
			</div>
		</div>
	  <div class="hint-text">Mostrando <b>{{BancosFiltro.length }}</b> registros</div>
	  </br>
	</div>
	
	<b-modal ref="formBancoModal" title="Banco">
		<form>
		  <div class="field form-group">
		    <label for="banco_descricao">Descrição</label>
		    <input class="form-control" type="text" name="banco[descricao]" id="banco_descricao" v-model="clickedBanco.descricao">
		  </div>
		
		  <div class="field form-group">
		    <label for="banco_codigo">Código do banco</label>
		    <input class="form-control" type="text" name="banco[codigo]" id="banco_codigo" v-model="clickedBanco.codigo">
		  </div>
		</form>
		<div slot="modal-footer">
			<a class="btn btn-secondary text-light" @click="closeModal">Fechar</a>
			<a class="btn btn-success text-light" @click="createBanco(clickedBanco)" v-if="create"><span v-if="loading" class="spinner-border spinner-border-sm"></span> Criar</a>
			<a class="btn btn-info text-light" @click="updateBanco(clickedBanco)" v-if="!create"> Atualizar</a>
		</div>
	</b-modal>
	<b-modal ref="deleteBancoModal" title="Apagar Banco">
		<p>Tem certeza que deseja apagar esse registro?</p>
		<p>Descrição: {{clickedBanco.descricao}}</p>
		<p>Código: {{clickedBanco.codigo}}</p>
		<p class="text-danger"><small>Esta ação não poderá ser desfeita.</small></p>
		<div slot="modal-footer">
			<a class="btn btn-info text-light" @click="closeModal()">Fechar</a>
			<a class="btn btn-danger text-light" @click="deleteBanco(clickedBanco.id)">Confirmar</a>
		</div>
	</b-modal>
</div>
<%= javascript_pack_tag 'bancos', 'data-turbolinks-track': 'reload' %>